/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@import "primeicons/primeicons.css";

:root {
    --blue-500: #3b82f6;
    --blue-400: #60a5fa;
    --yellow-500: #eab308;
    --yellow-400: #facc15;
    --green-500: #22c55e;
    --green-400: #4ade80;
    --red-500: #ef4444;
    --red-400: #f87171;
    --cyan-500: #06b6d4;
    --cyan-400: #22d3ee;
    --primary-500: #3b82f6;
    --teal-500: #14b8a6;
    --text-color: #374151;
    --text-color-secondary: #6b7280;
    --surface-border: #e5e7eb;
}